<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{::script})">
<title>View Bills</title>
	<script th:src="@{/js/dateTimeService.js}"
			src="../../../js/dateTimeService.js"></script>
	<script th:src="@{/js/jk-rating-stars.js}"
			src="../../../js/jk-rating-stars.js"></script>
			<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">


		<script th:inline="javascript">
      /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
      /*<![CDATA[*/
      var app = angular.module("billsApp", ['dateTimeServices', 'jkAngularRatingStars']);

      app.controller('billsCtrl', function ($scope, $http, dateTimeService) {
    
    	  $scope.showPdf = false;
			
			$scope.click = function () {
				$scope.showPdf = true;
              html2canvas(document.getElementById('pdf-content'), {
                  onrendered: function (canvas) {
                      var data = canvas.toDataURL();
                      var docDefinition = {
                          content: [{
                              image: data,
                              width: 500
                          }]
                      };
                      pdfMake.createPdf(docDefinition).download("Bill.pdf");
                  }
              });
              setTimeout(() => {
              	$scope.showPdf = false;
              	location.reload();
              }, 2000);
          }
			
			function setShowPDF() {
				$scope.showPdf = true;
			} 
    	  
           $http.get("/iTrust2/api/v1/bills/").then(function (response) {
              $scope.bills = response.data;
              $scope.message = "";
              console.log("got bill");
            }, function (rejection) {
              $scope.bills = [];
              $scope.message = "Could not display bills";
            });
        
        
        $scope.bill = null;
        $scope.selectBill = function (bill) {
        	
            // Stop displaying previous panels
            $scope.display = false;
        	
            $scope.bill = bill;

		}

        // View the visit that was selected in the table
		  $scope.viewSelectedBill = function() {
			  // Get the selected visit from the api.
			  // The id of the selected visit is $scope.selectedOfficeVisit
			  // Once you get the details of the visit, store it in $scope.visit
			  $scope.display = true;
		  }
        
		  $scope.getCertHTML = () => {
				
			}
			
			$scope.getPDFName = () => {
				return "Bill.pdf";
			}
			
			$scope.handleDownload = () => {
				$scope.generatePDF();
			}
        
     
      });
			/*]]>*/
    </script>

		<div ng-app="billsApp" ng-controller="billsCtrl">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3> View Bills</h3>
							</div>
							<div class="panel-body">
								<table class="table table-bordered">
									<caption>Patient Bills:</caption>
									<thead>
										<tr>
											<th></th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Visit Date</th>
											<th>Attending HCP</th>
											<th>Bill Status</th>
											<th>Bill Amount</th>
											<th>CPT Codes</th>
										</tr>
									</thead>
									<tbody>
										<tr name="billTableRow"
											ng-repeat="b in bills"
											billId={{b.id}}>
											<td name="selectCell"><input type="radio" name="selectRow" ng-model="$bills" ng-value="b.id" ng-click="selectBill(b)"></td>
											<td name="firstnameCell">{{b.patient.firstName}}</td>
											<td name="lastnameCell">{{b.patient.lastName}}</td>
											<td name="dateCell">{{b.date | date :
												'MM/dd/yyyy'}}</td>
											<td name="hcpCell">{{b.attendingHCP.username}}</td>
											<td name="statusCell">{{b.billStatus}}</td>
											<td name="statusCell">${{b.total}}</td>
											<td name="codesCell" ng-repeat="c in b.cptcodes"
											codeId={{c.id}}>
											{{c.code}}
											</td>
										</tr>
									</tbody>
								</table>
								<div class="row">
									<button class="btn btn-lg" style="margin-left: 15px; font-size: 15px; background-color: #363636; color: white; font-weight: 300;" ng-click="click()">
										Download Bill
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="pdf-content" ng-show="showPdf">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3>iTrust2 Patient Bills</h3>
						</div>
					</div>
					<div class="panel panel-default" id="export">
						<div class="panel-body">
							<table class="table table-bordered">
									<caption>Patient Bills:</caption>
									<thead>
										<tr>
											<th></th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Visit Date</th>
											<th>Attending HCP</th>
											<th>Bill Status</th>
											<th>Bill Amount</th>
											<th>CPT Codes</th>
										</tr>
									</thead>
									<tbody>
										<tr name="billTableRow"
											ng-repeat="b in bills"
											billId={{b.id}}>
											<td name="selectCell"><input type="radio" name="selectRow" ng-model="$bills" ng-value="b.id" ng-click="selectBill(b)"></td>
											<td name="firstnameCell">{{b.patient.firstName}}</td>
											<td name="lastnameCell">{{b.patient.lastName}}</td>
											<td name="dateCell">{{b.date | date :
												'MM/dd/yyyy'}}</td>
											<td name="hcpCell">{{b.attendingHCP.username}}</td>
											<td name="statusCell">{{b.billStatus}}</td>
											<td name="statusCell">{{b.total}}</td>
											<td name="codesCell" ng-repeat="c in b.cptcodes"
											codeId={{c.id}}>
											{{c.code}}
											</td>
										</tr>
									</tbody>
								</table>
						</div>
					</div>
		</div>
	</div>
	

					
	
</body>

</html>